@import "./common.scss";

$closeButtonHeight: 14px;
$closeButtonMargin: 3px;

#container {
	display: inline-block;
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 320px;
	background-color: white;
	z-index: 1000000;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	&[hidden] {
		display: none;
	}

	&:not([open]) {
		height: $closeButtonHeight + 2 * $closeButtonMargin;
	}

	#scroll {
		display: inline-block;
		max-height: calc(
			100vh - 24px - #{$closeButtonHeight + 2 * $closeButtonMargin}
		);
		margin-top: $closeButtonHeight + 2 * $closeButtonMargin;
		width: calc(100% - 20px);
		overflow-y: auto;
		padding: 10px;
		padding-bottom: 0px;

		#inner-scroll {
			display: inline-block;
			width: 100%;
		}
	}

	details {
		summary {
			background-color: #ececec;
			color: #616161;
			text-align: center;
			font-family: $titleFont;
			text-align: center;
			position: absolute;
			top: $closeButtonMargin;
			width: calc(100% - #{$closeButtonMargin * 2});
			left: $closeButtonMargin;
			font-size: 0.8em;
			height: $closeButtonHeight;
			line-height: $closeButtonHeight;
			border-radius: 3px;
			cursor: pointer;
			list-style: none;

			mwc-icon {
				position: absolute;
				top: 0px;
				left: 0px;
				height: $closeButtonHeight;
				font-size: $closeButtonHeight;
				// fill: white;
			}

			&::-webkit-details-marker {
				display: none;
			}

			&::marker {
				display: none;
			}
		}
	}
}
