@import "../../gui/component/common.scss";

:host {
	width: 100%;
}

#container {
	.square {
		position: relative;
		width: 60%;
		margin: 20px auto;
		background-color: rgba(#aaa, 0.5);
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;

		&:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}

		&:hover {
			background-color: rgba($green, 0.3);
			#puck {
				background-color: $blue;
				width: 40px;
				height: 40px;
			}
		}

		#puck {
			position: absolute;
			transform: translate(-50%, -50%);
			transition: width 0.2s, height 0.2s;
			background-color: black;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			pointer-events: none;
		}
	}
}
