:host {
	display: inline-block;
}
#container {
	margin-top: 5px;
	display: inline-block;
	width: 100%;

	label, #units {
		font-size: var(--label-font-size);
		font-family: var(--label-font-family);
		float: left;
	}

	#units[hidden] {
		display: none;
	}

	input[type="number"]{
		padding: 0;
		float: right;
		-webkit-appearance: none;
		border: none;
		text-align: right;
		font-size: var(--label-font-size);
		font-family: var(--label-font-family);
		outline-color: var(--outline-color);
		outline-offset: 1px;
		width: 70px;
		background-color: transparent;

		&:invalid{
			box-shadow: none;
		}
	}

	#units {
		float: right;
	}

	#slider {
		margin-top: 5px;
		$height: 20px;
		width: 100%;
		display: inline-block;
		position: relative;
		height: $height;

		input[type="range"]{
			opacity: 0;
			padding: 0;
			margin: 0;
			width: 100%;
			height: $height;
		}

		#line, #circle, #anchor {
			pointer-events: none;
			position: absolute;
			left: 0px;
			top: 0px;
		}

		#line {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			height: 4px;
			border-radius: 2px;
			width: 100%;
			background-color: #aaa;

			#anchor {
				position: absolute;
				width: 0%;
				top: 0px;
				height: 100%;
				background-color: black;
				border-radius: 2px;

				&.left {
					left: 0px;
				}

				&.center {
					left: 50%;
				}
			}
		}

		#circle {
			--computed-thumb-height: var(--thumb-height, 24px);
			--computed-thumb-width: var(--thumb-width, 24px);
			border-radius: 2px;
			width: var(--computed-thumb-width);
			height: var(--computed-thumb-height);
			top: calc((20px - var(--computed-thumb-height)) / 2);
			background-color: black;
			box-shadow: var(--shadow-low);

			&.focus {
				outline: 5px auto var(--focus-ring-color, black);
			}
		}
	}

}
